
<div class="container">
  <div class="row intro">
    <div class="col-sm-offset-2 col-sm-8">

    	<h1>Elegant timelines are built effortlessly with timelyn</h1>
    	<p>with timelyn anyone can build a timeline to embed in a website 	without any prior knowledge or skills</p>

  	<form class="form-horizontal">  
      <div class="form-group">
        <label for="" class="col-sm-6 control-label">What's the title of your timeline?</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="timeline.headline">
        </div>
      </div>

      <div class="form-group"></div>
      <div class="form-group">
        <div class="col-sm-6">
          <a class="btn btn-default pull-right" ng-click="">Examples</a>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-primary pull-left" ng-click="">Get Started</a>
        </div>
      </div>
  	</form>

    </div>
  </div> <!-- .row -->
</div> <!-- .container -->

<div class="timeline-js" ng-include="'views/timeline/timeline-embed.html'"></div>
