<div class="container">
  <div class="row title">
    <div class="col-sm-12">
      <h1>Timelines</h1>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-3 timeline-tile" ng-repeat-start="timeline in timelines">
      <a ng-click="go('previewTimeline', timeline.id)">
        <div style="background-image: url({{ getImage(timeline.asset) }})" class="img">
          <i class="add fa fa-{{ getIcon(timeline.asset) }} fa-4x"></i>
          <p class="meta">{{ timeline.date.length }} event<span ng-if="timeline.date.length !== 1">s</span></p>
        </div>
        <h2>{{ timeline.headline }}</h2>
      </a>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-cog"></i> &nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="go('editTimeline', timeline.id)">
            <i class="fa fa-pencil-square-o"></i> edit timeline</a>
          </li>
          <li><a ng-click="go('deleteTimeline', timeline.id)">
            <i class="fa fa-trash"></i> delete timeline</a>
          </li>
        </ul>
      </div>
    </div> <!-- .timeline-tile -->

    <div ng-repeat-end class="clearfix" ng-if="($index+1)%4==0"></div> <!-- .clearfix every 4th -->

    <div class="col-sm-3 timeline-tile">
      <a ng-click="go('createTimeline')">
        <div class="img">
          <i class="add fa fa-plus fa-4x"></i>
        </div>
        <h2>Create new timeline</h2>
      </a>
    </div> <!-- .timeline-tile -->

  </div> <!-- .row -->
</div> <!-- .container -->
