<div class="container">
  <div class="row intro">
    <div class="col-sm-12">
      <p>Timelyn is a full feature platform to create, edit, manage and host <a href="http://timeline.knightlab.com">TimelineJS</a> timelines. </p>
    </div>
  </div> <!-- .row -->
  <div class="row">
    <div class="col-sm-3">
      <h3>Free</h3>
      <p>Timelyn is free for personal use and provides affordable subscription plans for high traffic and commercial websites.</p>
    </div>
    <div class="col-sm-3">
      <h3>Content Delivery Network</h3>
      <p>All timelines are hosted on a global content delivery network ensuring low latency and high availability.</p>
    </div>
    <div class="col-sm-3">
      <h3>Image hosting</h3>
      <p>To make your life easier we take care of hosting your embedded images and replicate them across our CDN.</p>
    </div>
    <div class="col-sm-3">
      <h3>Analytics</h3>
      <p>See how many hits your timeline receives and analyse how people interact with it.</p>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->
