<div class="container">
  <div class="row intro">
    <div class="col-sm-12">
      <p>Timelyn isn't quite ready for launch just yet but these are the subscription plans we will offer.</p>
    </div>
  </div> <!-- .row -->
  <div class="row">
    <div class="col-sm-3">
      <h3>Free</h3>
      <p>For non commercial use.</p>
      <p>Reasonable request limit.</p>
    </div>
    <div class="col-sm-3">
      <h3>Personal</h3>
      <p>For non commercial use.</p>
      <p>Unlimited requests.</p>
    </div>
    <div class="col-sm-3">
      <h3>Commercial</h3>
      <p>For commercial use.</p>
      <p>Reasonable request limit.</p>
    </div>
    <div class="col-sm-3">
      <h3>Enterprise</h3>
      <p>For commercial use.</p>
      <p>High request limit.</p>
    </div>
    <div class="col-sm-3">
      <h3>Unlimited</h3>
      <p>No limits.</p>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->
