<table class="table table-striped">
  <thead>
  <tr>
      <th style="min-width: 80px;">ID</th>
      <th style="min-width: 80px;">Start Date</th>
      <th style="min-width: 80px;">End Date</th>
      <th style="min-width: 80px;">Headline</th>
      <th style="width:20px;"> </th>
      <th style="width:20px;"> </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="event in timeline.date" ng-if="1">
    <td>{{ event.id }}</td>
    <td>{{ event.startDate | date }}</td>
    <td>{{ event.endDate | date }}</td>
    <td>{{ event.headline }}</td>
    <td><a ng-click="editEvent(timeline.id, event.id)" class="btn btn-sm btn-primary">edit</a></td>
    <td><a ng-click="deleteEvent(timeline.id, event.id)" class="btn btn-sm btn-danger">delete</a></td>
  </tr>
  </tbody>
</table>