<div class="row">

  <div class="col-sm-2 event-tile" ng-repeat="event in timeline.date">
    <div style="background-image: url({{ event.asset.media }})" class="img">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-cog"></i> &nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="deleteEvent(timeline.id, event.id)">
            <i class="fa fa-trash"></i> delete event</a>
          </li>
        </ul>
      </div>
    </div>
    <h2><a href="" ng-click="editEvent(timeline.id, event.id)">{{ event.headline }}</a></h2>
    <p class="meta">{{ event.startDate | date }} - {{ event.startDate | date }}</p>
  </div> <!-- .event-tile -->
  
  <div class="col-sm-2 event-tile">
    <div class="img" ng-click="createEvent()">
     <i class="add fa fa-plus fa-4x"></i>
    </div>
    <h2><a href="" ng-click="createEvent()">Create new event</a></h2>
  </div> <!-- .event-tile -->

</div> <!-- .row -->