<table class="table table-striped">
  <thead>
  <tr>
    <th style="min-width: 80px;">ID</th>
    <th style="min-width: 80px;">Start Date</th>
    <th style="min-width: 80px;">End Date</th>
    <th style="min-width: 80px;">Headline</th>
    <th style="min-width: 40px;"> </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="event in timeline.date" ng-if="1">
    <td>{{ event.id }}</td>
    <td>{{ event.startDate | date }}</td>
    <td>{{ event.endDate | date }}</td>
    <td>{{ event.headline }}</td>
    <td style="text-align: right">
      <div class="btn-group">
        <a ng-click="editEvent(timeline.id, event.id)" class="btn btn-sm btn-primary">
          <i class="fa fa-pencil-square-o"></i> edit event
        </a>
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-cog"></i> &nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="deleteEvent(timeline.id, event.id)">
            <i class="fa fa-trash"></i> delete event</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>