<div ng-include="'timeline/timeline-embed.html'" style="margin: 50px 0;">
</div>

<div class="row" style="margin: 50px 0;">
  <div class="col-sm-7">
    <h1>{{timeline.headline}}</h1>
  </div>
  <div class="col-sm-5">
	  <span class="pull-right">
	    <a ng-click="back()" class="btn btn-sm btn-default" style="margin-top: 20px;">back</a>
	    <a ng-click="editTimeline(timeline.id)" class="btn btn-sm btn-default" style="margin-top: 20px;">edit timeline</a>
	    <a ng-click="createEvent(timeline.id)" class="btn btn-sm btn-primary" style="margin-top: 20px;">create event</a>
	</span>
  </div>
</div>

<div ng-include="'timeline/' + partial + '.html'"></div>